@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.timercontainer {
    text-align: center;
}

.start-button {
    background-color: lightgreen;
    border-width: 0px;
    height: 100%;
    width: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.stop-button {
    background-color: red;
    border-width: 0px;
    height: 100%;
    width: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.reset-button {
    background-color: grey;
    border-width: 0px;
    height: 100%;
    width: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.shortbreak {
    margin: 10px;
    background-color: lightblue;
    border-width: 0px;
    height: 100%;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
}

.longbreak {
    background-color: violet;
    border-width: 0px;
    height: 100%;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
}

.timer {
    font-size: 100px;
}
